{
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 115,
    "endOfLine": "auto",
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSameLine": true,
    "trailingComma": "all",
    "arrowParens": "avoid"
}
