@import 'tailwindcss';
@plugin '../hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-primary: #1ecce3;
    --color-secondary: #a874fd;
    --color-foreground: var(--foreground);
    --color-background: var(--background);

    --font-family: var(--font-jost);
    --font-size: 32px;

    --heroui-primary: var(--color-primary);
    --heroui-secondary: var(--color-secondary);
    --heroui-foreground: var(--color-foreground);
    --heroui-background: var(--color-background);
}

@layer base {
    html,
    body {
        background: var(--background);
        color: var(--foreground);
        font-family:
            'Jost',
            -apple-system,
            sans-serif !important;
        font-weight: 400;
        font-size: 20px;

        width: 100%;
        height: 100%;
    }
}
